h1 {
    font-family: arial;
    color: dimgray;
  }
  
  body {
    margin: 20px;
  }

canvas{
    height: 300px;
    width: 500px;
    border: 1px solid black;
}

input{
  font-size: 20px;
}

.blue{
  background-color: blue;
}